<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Sign In</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div style="width: auto; height: 25px; position: relative; float: left;">
<form th:action="@{/login}" method="post" class="form-signin">
    <fieldset>
        <legend>Welcome!</legend>
        <table>
            <tr>
                <td><input type="text" id="email" name="email" th:placeholder="Email"
                           class="form-control"/></td>
            </tr>
            <tr>
                <td><input type="password" th:placeholder="Password"
                           id="password" name="password" class="form-control"/></td>
            </tr>
        </table>
        <div th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
        </div>
        <table>
            <tr>
                <th><small>
                    <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login">Sign In</button>
                </small>
                </th>
                <th><small>
                    <form th:action="@{/registration}" method="get">
                        <button class="btn btn-md btn-warning btn-block" type="Submit">Sign Up</button>
                    </form>
                </small>
                </th>
            </tr>
        </table>
    </fieldset>
</form>
</div>
</body>
</html>